@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: 'SourceSansProLight';
    src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
    font-family: 'SourceSansProSemiBold';
    src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SourceSansPro';
}
:root {
    --size-medium: 24px;
    --size-small: 14px;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
}
textarea {
    resize: none;
    padding: 20px;
}
textarea::placeholder {
    font-family: 'SourceSansPro';
    font-size: 16px;
    line-height: 22px;
    color: #C4C4C4;
}
html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'SourceSansPro';
    background-image: url(../img/bg-grey.png);
    /* background-image: url(../img/bg.png); */
    background-repeat: repeat;
}
.container {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: var(--size-medium);
    margin-top: var(--size-medium);
}
.container > * {
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}
.content-container {
    padding: var(--size-medium);
    background: #FEFCFC;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.container-column {
    display: flex;
    flex-direction: column;
}
.icon {
    width: 28px;
    height: 28px;
}
.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #C4C4C4;
}
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#url {
    user-select: none;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/*ШАПКА И ПОДВАЛ*/
/*ШАПКА*/

header {
    position: fixed;
    top: 0;
    z-index: 100;
}

main {
    padding-top: 10vh;
    min-height: 90vh;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0C71C1;
}

.logo {
    display: flex;
    text-decoration: none;
    margin-left: 127px;
}
.logo__image {
    width: 61px;
    margin-right: 18px;
    flex-shrink: 0;
}
.logo__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo__slogan {
    font-family: 'SourceSansProLight';
    font-weight: 300;
    font-size: 28px;
    color: #FFFFFF;
    padding-top: 11px;
}
.user {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 127px;
}
.user__notice {
    margin-top: 5px;
    margin-right: 28px;
}
.user__name {
    font-size: 18px;
    margin-left: var(--size-small);
    padding-right: var(--size-medium);
    color: #FFFFFF;
}
.submenu {
    display: none;
    width: 200px;
    position: absolute;
    background-color: #0C71C1;
    bottom: 0;
    transform: translate(50px, 100%);
    list-style: none;
    padding-top: var(--size-medium);
    z-index: 100;
}
.submenu__item {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    padding-left: var(--size-medium);
}
.submenu__link {
    color: #fff;
    font-size: 16px;
}
.submenu__exit {
    margin-top: 34px;
    border-top: 1px solid #fff;
}
.user__arrow {
    cursor: pointer;
    text-decoration: none;
    width: 14px;
}
/*//ШАПКА*/
/*ПОДВАЛ*/
.footer__menu {
    display: flex;
    padding-right: 127px;
}
.menu-link {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .4s;
}
.menu-link::before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: block;
    width: 0%;
    height: 2px;
    background-color: #b5c7fd;
    transition: .4s ease-in-out;
}
.menu-link:not(:last-child) {
    margin-right: var(--size-medium);
}
.menu-link:hover {
    color: #b5c7fd;
}
.menu-link:hover::before {
    width: 100%;
}
/*//ПОДВАЛ*/
/*ШАПКА И ПОДВАЛ*/

@media screen and (min-width: 1280px) {
    .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 162px 24px;
    grid-column-gap: var(--size-medium);
}
.container > * {
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}
.content {
    grid-column-start: 1;
    grid-column-end: span 7;
    grid-row-start: 1;
}
.bar {
    grid-column-start: 8;
    grid-column-end: span 3;
    grid-row-start: 1;
}
.main-content {
    grid-row-start: 3;
}
.shortcode {
    grid-row-start: 1;
}
}
@media screen and (min-width: 1200px) {
    .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 162px 24px;
    grid-column-gap: var(--size-medium);
    margin-top: var(--size-medium);
}
.container-row {
    grid-template-rows: auto;
}
.content {
    grid-column-start: 1;
    grid-column-end: span 7;
}
.bar {
    grid-column-start: 8;
    grid-column-end: span 3;
}
.main-content {
    grid-row-start: 3;
    margin-bottom: 24px;
}
.shortcode {
    grid-row-start: 1;
}
}
@media screen and (min-width: 921px) and (max-width: 1199px) {
    footer {
        margin-top: var(--size-medium);
    }
    .container {
    max-width: 921px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 162px 24px;
    grid-column-gap: var(--size-medium);
    margin-top: var(--size-medium);
}
.content {
    grid-column-start: 1;
    grid-column-end: span 7;
}
.bar {
    grid-column-start: 8;
    grid-column-end: span 3;
}
.main-content {
    grid-row-start: 3;
}
.shortcode {
    grid-row-start: 1;
}
}
@media screen and (max-width: 960px) {
    .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: var(--size-medium);
    margin-top: var(--size-medium);
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .footer__menu {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .logo__slogan {
        display: none;
    }
    footer .logo {
        margin-left: 0;
    }
    .btn {
        padding: 10px 53px;
    }
}
@media screen and (max-width: 920px) {
    footer {
        margin-top: var(--size-medium);
    }
    .container {
        grid-gap: var(--size-medium);
    }
}
@media screen and (max-width: 720px) {
    header {
        padding: 10px 20px;
    }
    .avatar {
        width: 37px;
        height: 37px;
      }
    .logo__image {
        padding-left: 30px;
    }
    .user {
        padding-right: 30px;
    }
    .user__notice {
        margin-right: 15px;
      }
      .user__name {
          margin-left: 8px;
          padding-right: 12px;
      }
    .logo__image {
        padding: 0;
        max-width: 70px;
    }
    .logo__slogan {
        display: none;
    }
    .container {
        max-width: 680px;
    }
    .content-container {
        max-width: 680px;
    }
    .profile, .profile__user {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile__avatar {
        margin: 0;
    }
    .profile__status {
        margin-left: -10px;
    }
}
/*Titles*/
.title-1 {
    font-family: 'SourceSansPro';
    font-size: 26px;
    color: #00467D;

}
.title-2 {
    font-family: 'SourceSansPro';
    font-weight: 600;
    font-size: 18px;
    color: #00467D;
}
.postitle {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 7px;
    color: #707070;
}
.postitle::before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
    margin-bottom: 5px;
}
/*Button*/
.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 58px;
    border: 1px solid #0C71C1;
    border-radius: 5px;
    color: #0C71C1;
    font-size: 14px;
    font-family: 'SourceSansPro';
    transition: .4s;
}
.btn:hover {
    color: #ffffff;
    background-color: #008DFF;
    border: 1px solid #008DFF;
}
.btn-danger {
    color: #FA4545;
    border: 1px solid #FA4545;
}
.btn-danger:hover {
    color: #FFF;
    background-color: #FA4545;
    border: 1px solid #FA4545;
}
.btn-grey {
    color: #707070;
    border: 1px solid #707070;
}
.btn-grey:hover {
    color: #008DFF;
    border: 1px solid #008DFF;
    background-color: transparent;
}
@media screen and (max-width: 960px) {
    .btn {
        padding: 7px 23px;
    }
}
/*Content Blocks*/
.content-container {
    height: max-content;
    padding: var(--size-medium);
    background: #FEFCFC;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
/*Profile*/
.profile, .profile__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile__avatar {
    width: 114px;
    height: 114px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin-right: var(--size-medium);
    overflow: hidden;
}
.profile__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile__name {
    margin-bottom: var(--size-small);
    font-family: 'SourceSansProSemiBold';
    font-size: 24px;
    color: #041522;
    transition: .3s;
}
.profile__name:hover {
    color: #008DFF;
}
.profile__status {
    font-family: 'SourceSansProLight';
    font-family: 'Open Sans';
    font-size: 14px;
    color: #77838a;
}
.profile__status::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 6px;
}
.online::before {
    background-color: #12EF6A;
}

.offline::before {
    background-color: #b6b6b6;
}

.profile__info p {
    font-family: 'SourceSansProLight';
    font-size: 18px;
    color: #041522;
}
@media screen and (max-width: 960px) {
    .profile__avatar {
        margin-bottom: 15px;
    }
    .profile__name {
        margin-bottom: 8px;
    }
    .profile__info {
        margin-top: 16px;
    }
    .logout {
        margin-top: 16px;
    }

}
/*My friends*/

.friends {
    display: flex;
    flex-direction: column;
    margin-top: var(--size-medium);
}
.friend {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-medium);

}
.friend__avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-right: 7px;
    overflow: hidden;
}
.friend__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.friend__login {
    font-family: 'SourceSansProSemiBold';
    font-size: 14px;
    color: #041522;
    margin-bottom: 4px;
}
.friend__name {
    font-family: 'SourceSansPro';
    font-size: 14px;
    color: #9e9e9e;
}
.friends__showall {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'SourceSansProSemiBold';
    font-size: 14px;
    color: #008DFF;
    transition: .3s;
}

.friends__showall .after {
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/arrow-show-all.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(0px);

}
@keyframes rotate {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(12px);
    }
    100% {
        transform: translateX(0px);
    }
}
@media screen and (max-width: 720px) {
    .profile__avatar {
        margin: 0;
    }
    .profile__status {
        margin-left: -10px;
    }
}
@media screen and (max-width: 600px) {
    .content-container {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
}
/*Profile content*/
.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--size-small);
}
.container-grid-row-3-col-4 {
    display: grid;
    grid-template-rows: repeat(3, 24px);
    grid-template-columns: repeat(3, auto);
    grid-gap: var(--size-small);
}

.main-content {
    padding: 39px var(--size-medium);
}
.main-content section {
    margin-bottom: 32px;
}
.active-btns > a.btn:first-of-type {
    margin-right: var(--size-small);
}
.main-content__title {
    margin-bottom: var(--size-medium);
}
/*Repository*/
.repository .container-flex {
    align-items: flex-end;
}
.rep__item {
    width: 100%;
    min-height: 139px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.repository__title {
    font-family: 'SourceSansProSemiBold';
    font-size: 14px;
    color: #041522;
    transition: all 0.15s ease;
    border-bottom: 1px solid transparent;
    width: fit-content;
}
.repository__title:hover {
    border-bottom: 1px solid #041522;
}
.repository__title:active {
    background-color: rgba(0, 0, 0, 0.1);
}
.repository__update {
    font-family: 'SourceSansPro';
    font-size: 14px;
    color: #868686;
}
/*Repo Lang*/
.repository__lang {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 73px;
    font-family: 'SourceSansProSemiBold';
    font-size: 14px;
    padding: 8px 15px;
    border: 1px solid #008DFF;
    color: #008DFF;
    border-radius: 5px;
}
.lang-html {
    border-color: #FF5C00;
    color: #FF5C00;
}
.lang-css {
    border-color: #BFD865;
    color: #BFD865;
}
.lang-js {
    border-color: #FFA800;
    color: #FFA800;
}
.lang-sharp {
    border-color: #6A0081;
    color: #6A0081;
}
.lang-c {
    border-color: #4394e4;
    color: #4394e4;
}
.lang-php {
    border-color: #627CBE;
    color: #627CBE;
}
.lang-python {
    border-color: #5F91BA;
    color: #5F91BA;
}
@media screen and (max-width: 720px) {
    .logo {
        margin-left: 40px;
    }
    .rep__item .container-flex {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .repository__lang  {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
/*Short Codes*/
.shortcodes {
    margin-top: var(--size-medium);
}
.short {
    padding: 8px;
}
.short, .short__controls {
    display: flex;
    align-items: center;
}
.short__name {
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    color: #041522;
}
.short__controls {
    margin-left: 20px;
}
.short__controls > a:not(:last-of-type) {
    margin-right: 8px;
}
.short__controls a {
    display: block;
    width: 24px;
    height: 24px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid transparent;
}
.short__controls a.download {
    border: 1px solid #008DFF;
}
.short__controls a.edit {
    border: 1px solid #FF5C00;
}
.short__controls a.cdn {
    border: 1px solid #00467D;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #00467D;
}
@media screen and (max-width: 720px) {
    .container-grid-row-3-col-4 {
        grid-template-columns: repeat(1, auto);
    }
    .short {
        padding: 0;
    }
    .main-content__title {
        flex-direction: column;
    }
    .title-1 {
        margin-bottom: 15px;
    }
}
/*ФОРМА*/
.form__field {
    border: 1px solid #868686;
    color: #041522;
    filter: drop-shadow(0px 2px 7px rgba(10, 14, 33, 0.24));
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    outline: none;
    transition: .4s;
}
.form__field option {
    background-color: #ffffff;
    color: #868686;
}
.form__field option:hover {
    background-color: #D3E9FC;
    color: #008DFF
}
.form__field:focus {
    filter: drop-shadow(0px 2px 7px rgba(56, 119, 219, 0.557));
    border: 1px solid rgba(19, 102, 235, 0.721);
}
/*//ФОРМА*/
/*ТЕХПОДДЕРЖКА*/
.support {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.support__field {
    background-color: #fff;
    margin-bottom: 30px;
    font-family: 'SourceSansPro', Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #041522;
}
/*//ТЕХПОДДЕРЖКА*/
/* ШОРТКОД */

.classic__link {
    color: #0C71C1;
    border-bottom: 1px solid rgba(12, 113, 193, 0.2);
    transition: all 0.15s ease;
}
.classic__link:hover {
    border-bottom: 1px solid rgba(12, 113, 193);
}
.classic__link:active {
    background-color: rgba(12, 113, 193, 0.1);
}

.shortcode {
}
.shortcode__head {
    padding-bottom: 11px;
    border-bottom: 1px solid #D8D8D8;
}
.shortcode__title {
    width: fit-content;
}
.shortcode__title::after {
    cursor: pointer;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    width: 27px;
    height: 27px;
    background-image: url(../img/shortcode-page-title-copy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.shortcode__postitle::before {
    background-image: url(../img/grey_person-fill-author.svg);
}
.shortcode__content {
    width: 100%;
    min-height: 500px;
    border-radius: 5px;
    background-color: #5F91BA;
    padding: 2em 3em;
}
.shortcode__field {
    display: block;
    max-width: 244px;
    min-height: 34px;
    border: 1px solid #00467D;
    padding-left: 20px;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 30px;
    color: #00467D;
    margin-right: 10px;
}
.shortcode__btn {
    max-height: 35px;
}
/* // ШОРТКОД */
/* ФАЙЛ */
.file__postitle::before {
    background-image: url(../img/git-repository-line.svg);
}
/*РЕПОЗИТОРИЙ*/
.views__postitle::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url(../img/eye.svg);
}
.show-more {
    position: relative;
}
.show-more__btn {
    cursor: pointer;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.show-more__btn span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #707070;
}
.show-more span {
    margin-right: 8px;
}
.show-more__popup, .show-more__popup-select {
    right: 0;
    position: absolute;
    padding: 14px;
    width: 212px;
    min-height: 185px;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 5px;
    display: none;
    flex-direction: column;
}
.show-more__popup-select {
    padding: 5px;
    top: 37px;
    min-height: auto;
    border-radius: 10px;
}
.show-more__popup__item, .show-more__popup-select-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Open Sans'б sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #041522;
}
.show-more__popup-select-item:hover {
    background-color: #D3E9FC;
}
.show-more__popup__item-select {
    position: relative;
}
.show-more__popup__item::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    padding-left: 15px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.show-more__popup__item:hover {
    background-color: #D3E9FC;
}
.show-more__popup__item-download::before {
    background-image: url(../img/show-more-download.svg);
}
.show-more__popup__item-refresh::before {
    background-image: url(../img/show-more-refresh.svg);
}
.show-more__popup__item-edit::before {
    background-image: url(../img/show-more-edit.svg);
}
.show-more__popup__item-delete::before {
    background-image: url(../img/show-more-delete.svg);
}
.show-more__popup__item-delete {
    padding-top: 15px;
    border-top: 1px solid #D8D8D8;
    margin-bottom: 0;
}
.show-more__popup__item-settings::before {
    background-image: url(../img/show-more-settings.svg);
}
.show-more__popup__item-zip::before {
    vertical-align: middle;
    background-image: url(../img/show-more-zip.svg);
}
.show-more__popup__item-uploadfile::before {
    background-image: url(../img/show-more-uploadfile.svg);
}
.show-more__popup__item-copy::before {
    background-image: url(../img/show-more-copy.svg);
}
.show-more__popup__item-public::before {
    background-image: url(../img/show-more-public.svg);
}
.show-more__popup__item-public::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
    background-image: url(../img/show-more-arrow-bottom-select.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
/*Repository-list*/
.repository-list {
    width: 70%;
    border-radius: 5px;
    padding: 3px 12px;
    border: 1px solid #D8D8D8;
    margin-bottom: 15px;
}
.repository-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}
.repository-list__item:not(:last-of-type) {
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
}
.repository-list__link {
    color: #041522;
    font-style: 600px;
    margin-left: 11px;
    transition: .3s;
}
.repository-list__link:hover {
    color: #008DFF;
}
.repository-list__image {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.repository-list__image-file {
    background-image: url(../img/repository-file.svg);
}
.repository-list__image-folder {
    background-image: url(../img/repository-folder.svg);
}
.repository-list__image-del {
    cursor: pointer;
    background-image: url(../img/show-more-delete.svg);
}
.repository-list__filesize {
    font-size: 14px;
    color: #868686;
    margin-right: 11px;
}
/*Comments*/
.comment-section {
    width: 70%;
}
.comments {
    display: flex;
    flex-direction: column;
}
.comments__item {
    width: 100%;
    display: block;
    margin-top: 16px;
    margin-bottom: 15px;
}
.comment {
    border: 1px solid #D8D8D8;
}
.comment__head {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: #D8D8D84A;
}
.comment__avatar-author {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}
.comment__avatar-author img {
    width: 100%;
    height: 100%;
}
.comment__name-author {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-left: 11px;
}
.comment__main {
    padding: 1em 3em;
}
